* body {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(31, 67, 180, 1) 55%,
    rgba(10, 0, 110, 1) 82%
  );
  position: center;
  background-repeat: no-repeat;
  height: 1000px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(31, 67, 180, 1) 55%,
    rgba(10, 0, 110, 1) 82%
  );
  border-radius: 30px;
}
.container {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 10px -15px 10px #141414;
  width: 80%; /* Menggunakan persentase untuk lebar agar sesuai dengan kontennya */
  margin: auto; /* Menetapkan margin otomatis atas dan bawah untuk membuatnya berada di tengah */
  padding: 20px; /* Menambahkan padding agar kontennya tidak terlalu dekat dengan tepi kontainer */
  margin-top: 5%;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
p {
  color: black;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
}

.btn {
  font-family: "monospace";
  height: 0.5rem;
  margin-left: 5%;
}
.btn-send{
  background-color: rgb(65, 65, 188);
  border-radius: 30px;
}
.btn-reset{
  background-color: rgb(154, 47, 47);
  border-radius: 30px;
}
footer {
  text-align: center;
  margin-top: 20px;
  color: #141414;
  margin-left: -5%;
  font-size: 10px;
}
footer a {
  text-decoration: none;
  color: #141414;
}
footer a:hover {
  color: #c3c3c3;
}
